NEXT_PUBLIC_BASE_URL="http://localhost:3000"
RESEND_API_KEY="Your Resend API Key"
GOOGLE_SERVICE_ACCOUNT_EMAIL="Your Google Service Account Email"
GOOGLE_PRIVATE_KEY="Your Google Private Key"
GOOGLE_SHEET_ID="Your Google Sheet ID"